{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page under construction</h1>
    <p>
        The requested page couldn't be loaded. We are working hard to bring back this site to the world wide web - or listening to Haddaway&hellip; In 80's we trust!
    </p>
{% endblock %}