/* Global */

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 170px;
}
.text-black {
	color: #000;
}

.btn {
	cursor: pointer;
}

/* Footer */
#footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	height: 170px;
	overflow: hidden;
}


/* Cards */
.card {
	border: none;
}

.xmVoteThis {
	color: #AAAAAA;
	cursor: pointer;
}
.xmVoteThis.active {
	color: #222222;
}
.xmVoteThis.xmLove.active {
	color: #ff249b;
}
.Voteup:hover {
	color: #12d022;
}
.Votedown:hover {
	color: #e75151;
}
.xmVoteThis.xmLove:hover {
	color: #ffa2b9;
}

/* Search Form */

.search-form-top {
    border-bottom: 0.25em solid #517BE7;
}

#xcSearchField {
	border-radius: 0;
	margin: 0;
}
#xcSearchBtn {
	width: 65px;
    border-radius: 0;
}

/*Sidebar Nav */

.sidebar-nav {
	width: 250px;
	position: fixed;
	z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
	margin-top: 55px;
}

/* Navbar */

#navbar-friends {
	font-size: 80%;
	overflow-y: auto;
    white-space: nowrap;
}

#navbar-top {
	z-index: 101;
}

.navbar-brand {
	font-weight: 700;
}

/* Grid */

.grid-head-box h1 {
	font-size: 1.6rem;
}
.img-thumbnail {
	padding: 0;
	border-radius: 0;
	width: 100%;
}

.grid-item-thumb {
	-webkit-box-shadow: 0 1px 5px rgba(16,22,26,.2);
	box-shadow: 0 1px 5px rgba(16,22,26,.2);
}

/* Content Filter */

.nav-tabs .nav-link {
	border: none;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	font-weight: 600;
}

/* Images */

.img-single {
	max-height: 75vh;
}

img.img-thumbnail {
    min-height: 100%;
}

.badgeTop {
	z-index: 100;
	position: absolute;
	bottom: 0;
	margin-bottom: 2px;
	margin-left: 2px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.36);
    color: #222;
    font-weight: 700;
    font-size: 90%;
}
.badgeMedia {
	z-index: 100;
	position: absolute;
	top: 0;
	margin-top: 2px;
	margin-left: 2px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.36);
    color: #222;
    font-weight: 700;
    font-size: 90%;
}
/* Cards */

.xmWing {
	height: 100%;
	width: 50%;
	margin-left: 25%;
	display: table;
	cursor: pointer;
}

.contentWing {
	width: 100%;
	text-align: center;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

/* Media Action Buttons */

.xmVoteThis {
	cursor: pointer;
}

/* List Groups */

.list-group-item-blank {
	border: none;
	background-color: transparent;
}

/* responsive queries */

@media (max-width: 768px) {
	.h1, h1 {
		font-size: 1.2rem;
	}
	.btn {
		font-size: .9rem;
		padding: .5rem .8rem;
	}
}
@media (min-width: 576px) {
	.container {
		width: 100%;
	}
}
@media (min-width: 768px) {
	.container {
		width: 100%;
	}
	.h1, h1 {
		font-size: 1.4rem;
	}
	.btn {
		font-size: 1rem;
	}
}

@media (min-width: 992px) {
	.container {
		width: 960px;
	}
	.h1, h1 {
		font-size: 1.4rem;
	}
	.btn {
		font-size: 1rem;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1140px;
	}
	.h1, h1 {
		font-size: 1.4rem;
	}
	.btn {
		font-size: 1rem;
	}
}

/* Exo */
.xcExoB {
	text-align: center;
}
.xcExoB iframe {
	margin: 0 auto;
}