<!DOCTYPE html>
<html>
<head><title>Please be patient...</title>
    <meta charset="utf-8"/>
    <link rel="icon" href="data:,">
    <meta http-equiv="refresh" content="2; URL={{ path('pageImage',{'baseID': baseID, 'titleSlug': slug}) }}">
    <script>window.location.replace( '{{ path('pageImage',{'baseID': baseID, 'titleSlug': slug}) }}' );</script>
</head>
<body></body>
</html>