<div class="message-box col-12 text-center my-1 px-0">
    <a href="https://www.pornhubpremium.com/premium_signup?ats=eyJhIjoxNjUyNTIsImMiOjQ3NTUzMjQ2LCJuIjozLCJzIjoyLCJlIjoxMiwicCI6Mn0=" target="_blank"><strong>Get Free Pornhub Premium</strong></a>
</div>