{% extends 'base.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block meta %}

{% endblock %}

{% block body %}
	<div class="container px-2 text-white">
    <h1>Welcome to the {{ brand }} Privacy Policy</h1>
    <p>When you use {{ brand }} services, you trust us with your information. This Privacy Policy is meant to help you understand what data we collect, why we collect it, and what we do with it. This is important; we hope you will take time to read it carefully. 
    </p>
    
    <h2>Privacy Policy</h2>
    <h3>What personal information do we collect from the people that visit our website?</h3>
    <p>We do not collect any personal information from you when visiting our site. We collect device-specific information (such as your hardware model, operating system version, unique device identifiers, and mobile network information)</p>
	<h3>What information do you log?</h3>
	<p>When you use our services or view content provided by {{ brand }}, we automatically collect and store certain information in server logs. This includes:</p>
	<ul>
		<li>details of how you used our service, such as search queries</li>
		<li>cookies that may uniquely identify your browser</li>
		<li>canvas fingerprinting that may uniquely identify your browser</li>
	</ul>
	<h3>When do we collect information?</h3>
	<p>We collect information from you when you enter content on our site.</p>
	<h3>How do we use your information?</h3>
	<ul>
		<li>To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
		<li>To improve our website in order to better serve you.</li>
		<li>To ask for ratings and reviews of services or content.</li>
	</ul>
	<h3>How do we protect your information?</h3>
	<p>We only provide articles and information. We never ask for credit card numbers.</p>
	<p>We use regular Malware Scanning.</p>
	<p>We do not use an SSL certificate - We only provide articles and information. We never ask for personal or private information like names, email addresses, or credit card numbers.</p>
	<h3>Do we use 'cookies'?</h3>
	<p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
	<p><strong>We use cookies to:</strong></p>
	<ul>
		<li>Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.</li>
	</ul>
	<p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.</p>
	<p>If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.It won't affect the user's experience that make your site experience more efficient and may not function properly.</p>
	<h3>Third-party disclosure</h3>
	<p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</p>
	<h3>Third-party links</h3>
	<p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>
	<h3>Google Analytics</h3>
	<p>We use Google Analytics on our website.</p>
	<p><strong>We have implemented the following:</strong></p>
	<ul>
		<li>Demographics and Interests Reporting</li>
	</ul>
	<p>We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.</p>
	<p><strong>Opting out:</strong></p>
	<p>Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser add on.</p>
	<h3>How does our site handle Do Not Track signals?</h3>
	<p>We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>
	<h3>Does our site allow third-party behavioral tracking?</h3>
	<p>It's also important to note that we allow third-party behavioral tracking</p>
	</div>
{% endblock %}